.book-all {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 101;
}

.book-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.book-resumy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.book-infos {
  display: flex;
  height: 19px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.book-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.book-section-rightSide {
  display: flex;
  width: 437px;
  height: 818px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.book-article-leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 618px;
  img {
    width: 552px;
    height: 525px;
    transition: transform 0.3s ease;
  }
}

.book-article-leftSide img:hover {
  transform: scale(1.1);
}

.book-prise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.book-btn-buy {
  display: flex;
  width: 323px;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid var(--pink);
  background: var(--pink);
  button {
    color: var(--white);
    font-family: "Figtree";
    font-size: 25px;
    font-weight: 700;
  }
}

.book-sabre-title {
  display: flex;
  gap: 27px;
  #book-s {
    width: 64.428px;
    height: 216.118px;
    flex-shrink: 0;
  }

  #book-a {
    width: 64.277px;
    height: 234.836px;
    flex-shrink: 0;
  }

  #book-b {
    width: 63.995px;
    height: 212.624px;
    flex-shrink: 0;
  }

  #book-r {
    width: 64.699px;
    height: 233.889px;
    flex-shrink: 0;
  }

  #book-e {
    width: 67.271px;
    height: 212.357px;
    flex-shrink: 0;
  }
}

.book-section-allSide {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1123px;
}

#book-marker-all {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  animation: swing 3s infinite; /* 2s animation + 3s pause = 5s total */
  transform-origin: top center;
  margin-left: 44px;
  margin-top: -44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  z-index: 1;
}

@keyframes swing {
  10% {
    transform: rotate(4deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-4deg);
  }
  40%,
  100% {
    /* Pause de 60% du temps (3s sur 5s) */
    transform: rotate(0deg);
  }
}

#book-marker-all:hover {
  animation: none;
  transform: rotate(0deg);
}

#book-marker-top {
  display: block;
  margin-bottom: -2;
}

.book-marker-text {
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 110px;
  padding: 0;
  margin: 0;
  height: 20px; /* Petit bloc rose visible */
  overflow: hidden;

  svg {
    opacity: 0;
  }

  .text {
    color: var(--white);
    text-align: center;
    font-family: "rama-gothic-C";
    font-size: 50px;
    font-weight: 700;
    line-height: 93.768%;
    letter-spacing: 2.5px;
    opacity: 0;
  }
}

#book-marker-all:hover .book-marker-text {
  height: auto;
  padding: 30px 0;

  svg {
    opacity: 1;
  }

  .text {
    opacity: 1;
  }
}

#book-marker-bottom {
  display: block;
  margin-top: -2;
}

#book-prise-icon {
  animation: swinIcon 3s infinite; /* 2s animation + 3s pause = 5s total */
  transform-origin: top center;
}

@keyframes swingIcon {
  10% {
    transform: rotate(4deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-4deg);
  }
  40%,
  100% {
    /* Pause de 60% du temps (3s sur 5s) */
    transform: rotate(0deg);
  }
}
