.slider-track {
  display: inline-flex;
}

// .horizontal-alone {
//   width: 100vw;
//   height: 100vh;
// }

.horizontal-going img {
  width: 100vw;
  height: 100vh;
}

.horizantal-goinging {
  display: flex;
}
