.slider-track {
  display: inline-flex;
}

.horizontal-alone {
  background-color: rgb(87, 210, 182);
  width: 100vw;
  height: 100vh;
}

.horizontal-going {
  background-color: rgb(96, 45, 147);
  border: solid 50px red;
  width: 100vw;
  height: 100vh;
}

.horizantal-goinging {
  display: flex;
}
