.horizontal-mask {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.slider-track {
  display: flex;
  height: 100vh;
  will-change: transform;
}

.horizantal-goinging {
  flex-shrink: 0;
  height: 100vh;

  img {
    height: 100vh;
    width: auto;
    display: block;
  }
}
