.part-3-cave {
  object-fit: cover;
}

.part-3-parallax {
  position: relative;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 150vh;
}

.part-3-storm {
  position: relative;
  height: 100vh;
}

.part-3-case {
  position: absolute;
}

#case-1 {
  top: 25%;
  left: 25%;
  scale: 2;
  y: 0;
}

#case-2 {
  bottom: 25%;
  left: 25%;
  scale: 2;
  y: 0;
}

#lightning-1 {
  position: absolute;
  opacity: 0;
  top: 3%;
}

#storm {
  height: 100vh;
}
