.container-part-5 {
  overflow: hidden;
  position: relative;
  z-index: 5;
  margin-top: 0; // Force à être après le pin
  clear: both;
}

.part-5-snow {
  position: relative;
  overflow: hidden;
}

.part-5-snow-flake {
  position: absolute;
  width: 100%;
  top: -23%;
  right: 80%;
}
