.part-2-landscape {
  position: relative;
  img {
    object-fit: cover;
  }
}

.part-2-cloud {
  position: absolute;
}

#cloud-1 {
  opacity: 0;
  top: 15%;
  left: 30%;
  scale: 1.5;
}

#cloud-2 {
  opacity: 0;
  top: 40%;
  left: 10%;
  scale: 2;
}

#cloud-3 {
  opacity: 0;
  top: 15%;
  left: 2%;
  scale: 1.2;
}
