.part-1-galaxy {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(34, 22, 36);
}

#part-1-blackHole {
  position: absolute;
  top: 44%;
  left: 51%;
  width: 3%;
  height: 4%;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
}

#part-1-blackHole img {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.8s ease;
  transform: scale(8) translate(-0.5px, 8px);
}

#part-1-blackHole:hover {
  transform: scale(1.2);
}

p {
  color: var(--yellow, #dadc7b);
  font-family: "arial";
  font-size: 40.78px;
  font-weight: 900;
  opacity: 0;
  transition: opacity 5s ease;
}

p:hover {
  opacity: 1;
}
