.part-1-galaxy {
  position: relative;
  overflow: hidden;
  img {
    object-fit: contain;
  }
}

.part-1-img {
  position: absolute;
  top: 45%;
  left: 51%;
  width: 3%;
  height: 3%;
  z-index: 2;
  border-radius: 100%;
  img {
    object-fit: contain;
    transition: all 0.8s ease;
  }
}

.part-1-img:hover {
  transform: scale(1.2);
}

p {
  color: var(--yellow, #dadc7b);
  font-family: "arial";
  font-size: 40.78px;
  font-weight: 900;
  opacity: 0;
  transition: opacity 5s ease;
}

p:hover {
  opacity: 1;
}
