.container-part-3 {
  position: relative;
}

.part-3-cave {
  object-fit: cover;
}

.part-3-cases {
  background-color: var(--bg-black);
  width: 100vw;
  height: 100vh;
}

.part-3-storm {
  position: relative;
  height: 100vh;
}

#case-1 {
  position: absolute;
  top: 7%;
  left: 0%;
  width: 100%;
  y: 0;
  opacity: 0;
}

#case-2 {
  position: absolute;
  bottom: 7%;
  left: 0%;
  width: 90%;
  y: 0;
  opacity: 0;
}

#lightning {
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
}

#storm {
  height: 100vh;
}

#case-2 {
  left: 10%;
}

.part-3-cases {
  width: 100%;
}

#lightning-1 {
  width: 100%;
}

@media (max-width: 1280px) {
  #case-1,
  #case-2 {
    width: 90%;
  }
  //bug avec lightning il ne bouge pas
  #lightning.part-3-storm {
    top: 10%;
  }
}
