.part-1-galaxy {
  position: relative;
  overflow: hidden;
  img {
    object-fit: contain;
  }
}

.part-1-img {
  position: absolute;
  top: 45%;
  left: 51%;
  width: 3%;
  height: 3%;
  z-index: 2;
  border-radius: 100%;
  img {
    object-fit: contain;
    transition: all 0.8s ease;
  }
}

.part-1-img:hover {
  transform: scale(1.2);
}
