.part-4-baby {
  background-color: rgb(199, 33, 138);
  width: 100%;
  height: 100vh;
}

.part-4-effect {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
}

.part-4-looking {
  background-color: rgb(110, 56, 22);
  width: 100%;
  height: 100vh;
}
