.part-5-sleeping {
  background-color: rgb(94, 172, 134);
  width: 100%;
  height: 100vh;
}

.part-5-snow {
  background-color: rgb(45, 82, 112);
  width: 100%;
  height: 200vh;
  position: relative;
  overflow: hidden;
}

.part-5-snowflake {
  background-color: rgb(199, 196, 196);
  width: 4%;
  height: 4%;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
