.container-part-5 {
  position: relative;
}

.part-5-snow {
  position: relative;
  overflow: hidden;
}

.part-5-snowflake {
  position: absolute;
  width: 100%;
  top: -23%;
  right: 50%;
}

.part-5-parallax-cave {
  position: absolute;
  z-index: 3;
}

.part-5-parallax-montain {
  position: absolute;
  z-index: 2;
}

.part-5-parallax-sky {
  position: absolute;
  z-index: 1;
}
