.part-2-landscape {
  position: relative;
  overflow: hidden;
}

.part-2-cloud {
  position: absolute;
}

#cloud-1 {
  opacity: 0;
  top: 10%;
  left: 4%;
  width: 90%;
}

#cloud-2 {
  opacity: 0;
  top: 27%;
  left: -1%;
  width: 50%;
}

#cloud-3 {
  opacity: 0;
  top: 30%;
  left: 25%;
  width: 70%;
}

#cloud-4 {
  opacity: 0;
  top: 0%;
  left: 0%;
  width: 100%;
}

#cloud-5 {
  opacity: 0;
  top: 10%;
  left: -30%;
  width: 100%;
}

#cloud-6 {
  opacity: 0;
  top: 15%;
  left: 40%;
  width: 100%;
}
