.part-2-landscape {
  position: relative;
  img {
    object-fit: cover;
  }
}

.part-2-cloud {
  position: absolute;
}

#cloud-1 {
  opacity: 0;
  top: 30%;
  left: 30%;
}

#cloud-2 {
  opacity: 0;
  top: 15%;
  left: 60%;
}

#cloud-3 {
  opacity: 0;
  left: 10%;
}
