.part-5-snow {
  position: relative;
  overflow: hidden;
}

.part-5-snowflake {
  background-color: rgb(199, 196, 196);
  width: 4%;
  height: 4%;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
