.parallax-fin {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#parallax-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
  transition: transform 0.1s ease-out;
}

#parallax-cave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

//bug avec ce format
@media (max-width: 1280px) {
  .parallax-fin {
    height: 100vh;
  }
}
