.parallax-fin {
  position: relative;
  height: 100vh; /* Ajustez selon vos besoins */
  overflow: hidden;
}

#parallax-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
  transition: transform 0.1s ease-out;
}

#parallax-cave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
