* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 100%;
}

body {
  // overflow: hidden;
  overflow-x: hidden;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 100px;
  // scrollbar-width: none; /* Masque la barre pour Firefox */
  // -ms-overflow-style: none; /* Masque la barre pour IE et Edge */
}

// body::-webkit-scrollbar {
//   display: none; /* Masque la barre pour Chrome, Safari et Opera */
// }

.space {
  width: 100%;
  height: 100vh;
}
