* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  object-fit: cover;
  width: 100%;
}

body {
  // overflow: hidden;
  overflow-x: hidden;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 100px;
  // scrollbar-width: none; /* Masque la barre pour Firefox */
  // -ms-overflow-style: none; /* Masque la barre pour IE et Edge */
}

// body::-webkit-scrollbar {
//   display: none; /* Masque la barre pour Chrome, Safari et Opera */
// }

html {
  --bg-black: #000;
  --bg-dark-grey: #0b0b0b;
  --white: #fff;
  --pink: #d52b91;
  --yellow: #dadc7b;
}

h2 {
  color: var(--yellow);
  font-family: "rama-gothic-c";
  font-size: 50px;
  font-weight: 700;
  line-height: 93.768%; /* 46.884px */
  letter-spacing: 2.5px;
}

h3 {
  color: var(--yellow);
  font-family: "rama-gothic-c";
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 2.25px;
}

p {
  color: var(--yellow);
  text-align: justify;
  font-family: "Figtree";
  font-size: 14px;
  font-weight: 400;
  line-height: 137.346%; /* 19.228px */
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

hr {
  border: 1px solid var(--yellow);
  height: 17px;
}
