.l-book {
  background: var(--bg-dark-grey);
  width: 1440px;
  height: 1288px;
  flex-shrink: 0;
}

.l-footer {
  background-color: var(--bg-dark-grey);
  border-top: solid 2px var(--pink);
  padding: 63px 44px 26px 44px;
}
